<!DOCTYPE html>
<html>
  <head>
    <title>Map Editor</title>
    <!-- ref:css css/<%= appName %>.min.css -->
    <link rel="stylesheet" href="css/lib/bootstrap.css">
    <link rel="stylesheet" href="css/app.css">
    <!-- endref -->
  </head>
  <body>

    <div ui-view="header" id="header"></div>
    <div ui-view="sideBar" id="sideBar"></div>
    <div ui-view="mapView" id="mapView"></div>

    <!-- ref:js js/<%= appName %>.min.js -->
    <!-- Libraries -->
    <script src="js/lib/d3.js"></script>
    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/moment.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/angular.js"></script>
    <script src="js/lib/ui-bootstrap.js"></script>
    <script src="js/lib/angular-ui-router.js"></script>

    <!-- Module -->
    <script src="js/module.js"></script>

    <!-- Controllers -->
    <script src="js/app/ctrl/header.js"></script>
    <script src="js/app/ctrl/map-view.js"></script>
    <script src="js/app/ctrl/side-bar.js"></script>
    <script src="js/app/ctrl/modals/default.js"></script>
    <script src="js/app/ctrl/modals/change-name.js"></script>
    <script src="js/app/ctrl/modals/new-map.js"></script>
    <script src="js/app/ctrl/modals/open.js"></script>
    <script src="js/app/ctrl/modals/import.js"></script>
    <script src="js/app/ctrl/modals/export.js"></script>

    <!-- Directives -->
    <script src="js/app/directives/focus-me.js"></script>
    <script src="js/app/directives/right-click.js"></script>

    <!-- Services -->
    <script src="js/app/service/map.js"></script>
    <script src="js/app/service/tools.js"></script>
    <script src="js/app/service/defaults.js"></script>
    <script src="js/app/service/menu.js"></script>

    <!-- Filters -->

    <!-- Other -->
    <script src="js/app/menu.js"></script>

    <!-- Main -->
    <script src="js/main.js"></script>
    <!-- endref -->

  </body>
</html>
