* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
#mapContainer {
  position: absolute;
  top: 62px;
  bottom: 0;
  left: 426px;
  right: 0;
  overflow: auto;
}
#mapContainer canvas {
  background-color: #808080;
  border: 5px solid;
}
#sideBar {
  width: 426px;
}
#sideBar .tab-pane {
  position: absolute;
  overflow: auto;
  top: 120px;
  width: 426px;
  bottom: 0;
  margin-left: 10px;
}
#sideBar .tab-pane input {
  width: 190px;
}
#sideBar .tile {
  display: inline-block;
  border: 2px solid transparent;
}
#sideBar .tile.selected {
  border: 2px solid #000;
}
