#sideBar
  width: $sideBarWidth

  .tab-pane
    position: absolute;
    overflow: auto;
    top: 120px;
    width: $sideBarWidth
    bottom: 0;
    margin-left: 10px

    input
      width: $innerContent

  .tile
    display: inline-block
    border: 2px solid transparent

    &.selected
      border: 2px solid black
