#sideBar
  width: $sideBarWidth

  .tab-pane
    position: absolute;
    overflow: auto;
    top: 120px;
    width: $sideBarWidth
    bottom: 0;
    margin-left: 10px

  .tile
    float: left
    border: 2px solid white

    &.selected
      border: 2px solid black

  .disp-label
    position: relative
    top: -33px
    margin-left: 70px

    &:first-child
      margin-left: 20px

  .disp-tile-box
    display: inline-block
    text-align: center

    .disp-tile
      border: 2px solid blue
