#sideBar
  width: $sideBarWidth

  .tab-pane
    position: absolute;
    overflow: auto;
    top: 120px;
    width: $sideBarWidth
    bottom: 0;
    margin-left: 10px

  .tile
    float: left
    border: 2px solid white

    &.selected
      border: 2px solid black

  .disp-label
    position: relative
    top: -33px
    margin-left: 70px

    &:first-child
      margin-left: 20px

  .disp-tile-box
    display: inline-block
    text-align: center

    .disp-tile
      border: 2px solid blue

  .event-obj
    background-color: #ccc
    padding: 10px 5px
    border-top: 1px solid

    &:first-of-type
      margin-top: 20px
      border-top: none

    &:hover
      background-color: #999
      cursor: pointer

  .delete-event
    color: red
    font-weight: bold
    background-color: #ccc
    padding: 7px 10px
    border-radius: 10px
    border: 2px solid transparent

    &:hover
      background-color: #aaa
      cursor: pointer

    &.selected
      border: 2px solid black

