<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" ng-click="goToState('index.changeName')">{{map.title}}</a>
    <ul class="nav">
      <li ng-repeat="m in menu" class="dropdown" ng-show="!m.hidden">
        <a class="dropdown-toggle">{{m.name}}</a>
        <ul class="dropdown-menu">
          <li ng-repeat="i in m.items" ng-show="user.isLoggedIn || !i.loggedIn">
            <a ng-click="goToState(i)">{{i.name}}</a>
          </li>
        </ul>
      </li>
      <li><a ng-show="user.isLoggedIn" ng-click="simulateMap()">Simulate Map</a></li>
    </ul>
    <ul class="nav pull-right">
      <li ng-show="!user.isLoggedIn" ng-click="goToState('index.login')"><a>Login</a></li>
      <li ng-show="user.isLoggedIn" ng-click="logout()"><a>Logout</a></li>
    </ul>
  </div>
</div>
