<div class="navbar">
  <div class="navbar-inner">
    <a class="brand">{{title}}</a>
    <ul class="nav">
      <li ng-repeat="item in menu">
        <a>{{item.label}}</a>
      </li>
    </ul>
  </div>
</div>

<div id="sideBar">
  <tabset>
    <tab heading="Tiles">
      <label>Width:</label>
      <input type="text" ng-model="mapWidth">
      <label>Height:</label>
      <input type="text" ng-model="mapHeight">
    </tab>
    <tab heading="Events"></tab>
  </tabset>
</div>

<div id="mapContainer">
  <canvas width="{{mapWidth}}" height="{{mapHeight}}" id="map"></canvas>
</div>
