<tabset>
  <tab heading="Tiles">
    <div
      class="tile"
      ng-class="{selected:num==tools.curTile || num==tools.curTile2}"
      ng-click="choseTile(num)"
      ng-right-click="choseTile2(num)"
      style="{{getStyle(num)}}"
      ng-repeat="num in getNumber()"></div>
  </tab>
  <tab heading="Events"></tab>
  <tab heading="Properties">
    <label>Width: {{map.width}} columns</label>
    <button class="btn" ng-click="removeColumn()">-</button>
    <button class="btn" ng-click="addColumn()">+</button>
    <label>Height: {{map.height}} rows</label>
    <button class="btn" ng-click="removeRow()">-</button>
    <button class="btn" ng-click="addRow()">+</button>
  </tab>
</tabset>
