<div class="modal-header">
  <h3>New Map</h3>
</div>

<div class="modal-body">
  <label>Name:</label>
  <input type="text" ng-model="name">
  <label>Width:</label>
  <input type="text" ng-model="width"> Tiles
  <label>Height:</label>
  <input type="text" ng-model="height"> Tiles
  <label>Default Tile:</label>
  <select ng-model="tile" ng-options="t.name for t in tiles"></select>
</div>

<div class="modal-footer">
  <button class="btn" ng-click="close()">Cancel</button>
  <button class="btn btn-success" ng-disabled="!name || !width || !height" ng-click="accept(name, width, height, tile.id)">Create New Map</button>
</div>
